.weatherCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid aliceblue;
  background: var(--color-bg-weather-card);
  border-radius: 16px;
  border-color: var(--color-border-weather-card);
  padding: 24px;
  width: 639px;
  height: 403px;
}

.weatherCard__city {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16667;
}

.weatherCard__date {
  margin-top: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: var(--color-text-secondary);
}

.weatherCard__tempContainer {
  display: flex;
  justify-content: space-between;
}

.weatherCard__temp {
  margin-right: 30px;
  align-self: center;
  font-weight: 700;
  font-size: 72px;
}

.weatherCard__feelsLike {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  /* align-self: center; */
}

.weatherCard__feelsLikeDescr {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  color: var(--color-text-secondary);
}

.weatherCard__feelsLikeTemp {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.1;
}

.weatherCard__imageContainer {
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 110px;
  width: 110px;
  height: 110px;
  background-color: var(--color-bg-card);
}

.weatherCard__descr {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16667;
}

.weatherCard__tempCardContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
