.temp-card {
  border-radius: 16px;
  padding: 15px;
  flex: 1;
  min-width: 0;
  background: var(--color-bg-temp-chip);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 6px;
  transition: 0.35s;
}

.temp-card:hover {
  background: var(--color-bg-card);
}

@media (max-width: 599px) {
  .temp-card__title {
    font-size: 13px;
  }

  .temp-card__value {
    font-size: 20px;
  }
}

.temp-card__title {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  color: var(--color-text-secondary);
}

.temp-card__value {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16667;
  text-align: center;
}
