.current-weather {
  display: flex;
  gap: 16px;
  align-items: stretch;
}

.current-weather__right {
  display: flex;
  flex-direction: column;
  gap: 16px;
  flex: 0 0 344px;
}

@media (max-width: 850px) {
  .current-weather {
    flex-direction: column;
  }

  .current-weather__right {
    flex: none;
    flex-direction: row;
  }

  .current-weather__right > * {
    flex: 1;
  }
}

@media (max-width: 599px) {
  .current-weather__right {
    flex-direction: column;
  }
}
