@import 'normalize.css';
@import 'variables.css';

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
#root {
  min-height: 100vh;
  background-color: var(--color-bg-page);
  font-family: var(--font-primary);
  color: var(--color-text-primary);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

.container {
  min-height: 100vh;
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
